

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Input                                                                                     */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.ai-input-dollar {
  position: relative;
  float: left;
  color: #ffffff;
  background-color: #ffffff05;
  border: solid #ffffff00 0px;
  width: 3%;
  height: 20px;
}

.ai-input-console {
  position: relative;
  color: #ffffff;
  background-color: #ffffff05;
  border: solid #ffffff00 0px;
  width: 97%;
  height: 1.48vw;
  float: left;
}

/* .ai-input {
  position: relative;
  color: #ffffff;
  background-color: #ffffff05;
  border: solid #ffffff00 0px;
  width: 97%;
  height: 1.48vw;
  float: left;
} */


.ai-input:-webkit-autofill,
.ai-input:-webkit-autofill:hover, 
.ai-input:-webkit-autofill:focus {
border: solid #ffffff00 0px;
-webkit-text-fill-color: #ffffff;
-webkit-box-shadow: 0 0 0px 1000px #44444422 inset;
transition: background-color 5000s ease-in-out 0s;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Buttons                                                                                   */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.ai-input {
  border: solid 0.1vw;
  height: calc(100% - 0.6vw);
  font-family: oxanium;
  font-size: 0.9vw;
  line-height: 2;
  width: calc(100% - 0.6vw);
  margin: 0.3vw 0.3vw 0.3vw 0.3vw;
  padding: 0vw;
}

.ai-input-bottom {
  border-bottom: solid 0.4vw var(--base-b-6);
}

.ai-input-top {
  border-top: solid 0.4vw var(--base-b-6);
}

.ai-input-connect {
  border: solid 0.1vw var(--base-b-6);
  height: 1.6vw;
  font-size: 1vw;
  font-family: oxanium;
  width: 15.5vw;
  color: var(--base-b-9);
  line-height: 1em;
  padding: 0vw 0vw 0vw 0vw;
}

.ai-input-data {
  border: solid 0.1vw var(--base-b-6);
  height: 2.4vw;
  font-size: 1vw;
  font-family: oxanium;
  width: 8vw;
  color: var(--base-b-9);
  line-height: 1em;
  padding: 0vw 0vw 0vw 0vw;
}

.ai-input-base {
  background-color: var(--base-dark);
  border-color: var(--base-bright);
  color: var(--base-bright);
}

.ai-input-blue {
  background-color: var(--blue-dark-dim);
  border-color: var(--blue-light-dim);
  color: var(--blue-bright-dim);
}

.ai-input-aqua {
  background-color: var(--aqua-dark-dim);
  border-color: var(--aqua-light-dim);
  color: var(--aqua-bright-dim);
}

.ai-input-aqua {
  background-color: var(--aqua-dark-dim);
  border-color: var(--aqua-light-dim);
  color: var(--aqua-bright-dim);
}

.ai-input-green {
  background-color: var(--green-dark-dim);
  border-color: var(--green-light-dim);
  color: var(--green-bright-dim);
}

.ai-input-yellow {
  background-color: var(--yellow-dark-dim);
  border-color: var(--yellow-light-dim);
  color: var(--yellow-bright-dim);
}

.ai-input-orange {
  background-color: var(--orange-dark-dim);
  border-color: var(--orange-light-dim);
  color: var(--orange-bright-dim);
}

.ai-input-red {
  background-color: var(--red-dark-dim);
  border-color: var(--red-light-dim);
  color: var(--red-bright-dim);
}

.ai-input-pink {
  background-color: var(--pink-dark-dim);
  border-color: var(--pink-light-dim);
  color: var(--pink-bright-dim);
}

.ai-input-purple {
  background-color: var(--purple-dark-dim);
  border-color: var(--purple-light-dim);
  color: var(--purple-bright-dim);
}