:root {
    --base-1: #061938;
    --base-2: #1450b3;
    --base-3: #1967e6;
    --red-light: #e65c5c;
    --global-padding: 10px;
    --global-margins: 10px;
    --universal-fontsize: 1.2vw;
    /* Add more color variables as needed */
}