/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Buttons                                                                                   */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.ai-select {
  border: solid 0.1vw;
  height: calc(100% - 0.6vw);
  font-family: oxanium;
  font-size: 0.9vw;
  line-height: 2;
  width: calc(100% - 0.6vw);
  margin: 0.3vw 0.3vw 0.3vw 0.3vw;
  padding: 0vw;
}

.ai-select-bottom {
  border-bottom: solid 0.4vw var(--base-b-6);
}

.ai-select-top {
  border-top: solid 0.4vw var(--base-b-6);
}

.ai-select-connect {
  border: solid 0.1vw var(--base-b-6);
  height: 1.6vw;
  font-size: 1vw;
  font-family: oxanium;
  width: 15.5vw;
  color: var(--base-b-9);
  line-height: 1em;
  padding: 0vw 0vw 0vw 0vw;
}

.ai-select-data {
  border: solid 0.1vw var(--base-b-6);
  height: 2.4vw;
  font-size: 1vw;
  font-family: oxanium;
  width: 8vw;
  color: var(--base-b-9);
  line-height: 1em;
  padding: 0vw 0vw 0vw 0vw;
}

.ai-select-base {
  background-color: var(--base-dark);
  border-color: var(--base-bright);
  color: var(--base-bright);
}

.ai-select-blue {
  background-color: var(--blue-dark-dim);
  border-color: var(--blue-light-dim);
  color: var(--blue-bright-dim);
}

.ai-select-aqua {
  background-color: var(--aqua-dark-dim);
  border-color: var(--aqua-light-dim);
  color: var(--aqua-bright-dim);
}

.ai-select-aqua {
  background-color: var(--aqua-dark-dim);
  border-color: var(--aqua-light-dim);
  color: var(--aqua-bright-dim);
}

.ai-select-green {
  background-color: var(--green-dark-dim);
  border-color: var(--green-light-dim);
  color: var(--green-bright-dim);
}

.ai-select-yellow {
  background-color: var(--yellow-dark-dim);
  border-color: var(--yellow-light-dim);
  color: var(--yellow-bright-dim);
}

.ai-select-orange {
  background-color: var(--orange-dark-dim);
  border-color: var(--orange-light-dim);
  color: var(--orange-bright-dim);
}

.ai-select-red {
  background-color: var(--red-dark-dim);
  border-color: var(--red-light-dim);
  color: var(--red-bright-dim);
}

.ai-select-pink {
  background-color: var(--pink-dark-dim);
  border-color: var(--pink-light-dim);
  color: var(--pink-bright-dim);
}

.ai-select-purple {
  background-color: var(--purple-dark-dim);
  border-color: var(--purple-light-dim);
  color: var(--purple-bright-dim);
}