/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//                                                                                              */
/*//    TITLE:  AI - CSS Stylesheet                                                               */
/*//                                                                                              */
/*//    AUTHOR: Jacques Duvenage                                                                  */
/*//                                                                                              */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//                                                                                              */
/*//    NOTES:                                                                                    */
/*//                                                                                              */
/*//        --                                                                                    */
/*//                                                                                              */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//                                                                                              */
/*//    Getting Started                                                                           */
/*//                                                                                              */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//                                                                                              */
/*//    Layout                                                                                    */
/*//                                                                                              */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

:root {
  --normal-s:75%;
  --dim-s:40%;
  --normal-l:50%;
  --bright-l:70%;
  --dark-l:20%;

  --blue-h:230;
  --blue-light:hsl(var(--blue-h),var(--normal-s),var(--normal-l));
  --blue-light-dim:hsl(var(--blue-h),var(--dim-s),var(--normal-l));
  --blue-bright:hsl(var(--blue-h),var(--normal-s),var(--bright-l));
  --blue-bright-dim:hsl(var(--blue-h),var(--dim-s),var(--bright-l));
  --blue-dark:hsl(var(--blue-h),var(--normal-s),var(--dark-l));
  --blue-dark-dim:hsl(var(--blue-h),var(--dim-s),var(--dark-l));
  
  --purple-h:280;
  --purple-light:hsl(var(--purple-h),var(--normal-s),var(--normal-l));
  --purple-light-dim:hsl(var(--purple-h),var(--dim-s),var(--normal-l));
  --purple-bright:hsl(var(--purple-h),var(--normal-s),var(--bright-l));
  --purple-bright-dim:hsl(var(--purple-h),var(--dim-s),var(--bright-l));
  --purple-dark:hsl(var(--purple-h),var(--normal-s),var(--dark-l));
  --purple-dark-dim:hsl(var(--purple-h),var(--dim-s),var(--dark-l));
  
  --pink-h:310;
  --pink-light:hsl(var(--pink-h),var(--normal-s),var(--normal-l));
  --pink-light-dim:hsl(var(--pink-h),var(--dim-s),var(--normal-l));
  --pink-bright:hsl(var(--pink-h),var(--normal-s),var(--bright-l));
  --pink-bright-dim:hsl(var(--pink-h),var(--dim-s),var(--bright-l));
  --pink-dark:hsl(var(--pink-h),var(--normal-s),var(--dark-l));
  --pink-dark-dim:hsl(var(--pink-h),var(--dim-s),var(--dark-l));
  
  --red-h:0;
  --red-light:hsl(var(--red-h),var(--normal-s),var(--normal-l));
  --red-light-dim:hsl(var(--red-h),var(--dim-s),var(--normal-l));
  --red-bright:hsl(var(--red-h),var(--normal-s),var(--bright-l));
  --red-bright-dim:hsl(var(--red-h),var(--dim-s),var(--bright-l));
  --red-dark:hsl(var(--red-h),var(--normal-s),var(--dark-l));
  --red-dark-dim:hsl(var(--red-h),var(--dim-s),var(--dark-l));
  
  --orange-h:37;
  --orange-light:hsl(var(--orange-h),var(--normal-s),var(--normal-l));
  --orange-light-dim:hsl(var(--orange-h),var(--dim-s),var(--normal-l));
  --orange-bright:hsl(var(--orange-h),var(--normal-s),var(--bright-l));
  --orange-bright-dim:hsl(var(--orange-h),var(--dim-s),var(--bright-l));
  --orange-dark:hsl(var(--orange-h),var(--normal-s),var(--dark-l));
  --orange-dark-dim:hsl(var(--orange-h),var(--dim-s),var(--dark-l));
  
  --yellow-h:60;
  --yellow-light:hsl(var(--yellow-h),var(--normal-s),var(--normal-l));
  --yellow-light-dim:hsl(var(--yellow-h),var(--dim-s),var(--normal-l));
  --yellow-bright:hsl(var(--yellow-h),var(--normal-s),var(--bright-l));
  --yellow-bright-dim:hsl(var(--yellow-h),var(--dim-s),var(--bright-l));
  --yellow-dark:hsl(var(--yellow-h),var(--normal-s),var(--dark-l));
  --yellow-dark-dim:hsl(var(--yellow-h),var(--dim-s),var(--dark-l));
  
  --green-h:110;
  --green-light:hsl(var(--green-h),var(--normal-s),var(--normal-l));
  --green-light-dim:hsl(var(--green-h),var(--dim-s),var(--normal-l));
  --green-bright:hsl(var(--green-h),var(--normal-s),var(--bright-l));
  --green-bright-dim:hsl(var(--green-h),var(--dim-s),var(--bright-l));
  --green-dark:hsl(var(--green-h),var(--normal-s),var(--dark-l));
  --green-dark-dim:hsl(var(--green-h),var(--dim-s),var(--dark-l));
  
  --aqua-h:170;
  --aqua-light:hsl(var(--aqua-h),var(--normal-s),var(--normal-l));
  --aqua-light-dim:hsl(var(--aqua-h),var(--dim-s),var(--normal-l));
  --aqua-bright:hsl(var(--aqua-h),var(--normal-s),var(--bright-l));
  --aqua-bright-dim:hsl(var(--aqua-h),var(--dim-s),var(--bright-l));
  --aqua-dark:hsl(var(--aqua-h),var(--normal-s),var(--dark-l));
  --aqua-dark-dim:hsl(var(--aqua-h),var(--dim-s),var(--dark-l));

  --grey-light:#444444;
  --grey-light-dim:#444444;
  --grey-bright:#757575;
  --grey-bright-dim:#757575;
  --grey-dark: #222;
  --grey-dark-dim: #111;

  --base-b-0: #000508;
  --base-b-1: #000d14;
  --base-b-2: #00121c;
  --base-b-3: #001926;
  --base-dark: #002233;
  --base-b-4: #00293d;
  --base-light: #003752;
  --base-b-6: #004363;
  --base-b-7: #00537a;
  --base-b-8: #005f8c;
  --base-bright: #4582a0;
  --base-b-9: #5198bc;
  
  --ai-navbar-height: 3.5vw;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Visibility                                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.hidden {
  visibility: hidden;
  position: absolute;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Grid                                                                                      */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.dx-1 {
  width: 10.25vw;
}

.dx-2 {
  width: 21.5vw;
}

.dx-3 {
  width: 32.75vw;
}

.dx-4 {
  width: 44vw;
}

.dx-5 {
  width: 55.25vw;
}

.dx-6 {
  width: 66.50vw;
}

.dx-7 {
  width: 77.75vw;
}

.dx-8 {
  width: 89vw;
}

.x-0 {
  left: 0vw;
}

.x-1 {
  left: 11.25vw;
}

.x-2 {
  left: 22.50vw;
}

.x-3 {
  left: 33.75vw;
}

.x-4 {
  left: 45vw;
}

.x-5 {
  left: 56.25vw;
}

.x-6 {
  left: 67.50vw;
}

.x-7 {
  left: 78.75vw;
}

.dy-1 {
  height: 10.75vw;
}

.dy-2 {
  height: 22.50vw;
}

.dy-3 {
  height: 34.25vw;
}

.dy-4 {
  height: 46vw;
}

.dy-5 {
  height: 57.75vw;
}

.dy-6 {
  height: 69.50vw;
}

.dy-7 {
  height: 81.25vw;
}

.dy-8 {
  height: 93vw;
}

.y-0 {
  top: 0vw;
}

.y-1 {
  top: 11.75vw;
}

.y-2 {
  top: 23.50vw;
}

.y-3 {
  top: 35.25vw;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Font                                                                                      */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

/* @font-face {
font-family: oxanium;
src: url("../fonts/oxanium/Oxanium-Medium.ttf");
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Scrollbar                                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb {
  background: #2ddcff33;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2ddcff44; 
}

.scroll-overflow {
  overflow-y: auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//                                                                                              */
/*//    Components                                                                                */
/*//                                                                                              */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Body                                                                                      */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.body {
  margin: 0px;
  font-family: oxanium;
  font-size: 0.9vw;
}