/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//    Server                                                                                   */
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.ai-servergrid {
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: 1%;
  row-gap: 5%;
  font-size: 0.48vw;
  color: var(--aqua-light-dim);
}